name: Upload win98fe


on:
  workflow_dispatch: 
  
  
  
permissions:
  contents: write


jobs:


  upload:


    runs-on: ubuntu-latest


    steps:
    - uses: actions/checkout@v5
    
    - name: upload
      shell: bash
      env:
        ACCESS: ${{ secrets.ACCESS }}
        SECRET: ${{ secrets.SECRET }}
      run: |
        curl -C - -L -o "Microsoft Windows 98 First Edition (3.5).7z" "https://winworldpc.com/download/c3b333c3-825f-e284-a231-11c3a4c2ac5a/from/c39ac2af-c381-c2bf-1b25-11c3a4e284a2"
        curl -C - -L -o "Microsoft Windows 98 First Edition.7z" "https://winworldpc.com/download/417712c3-a418-c39a-11c3-a4e284a2c3a5/from/c39ac2af-c381-c2bf-1b25-11c3a4e284a2"
        sha512sum "Microsoft Windows 98 First Edition (3.5).7z"
        sha512sum "Microsoft Windows 98 First Edition.7z"
        for FILE in "Microsoft Windows 98 First Edition (3.5).7z" "Microsoft Windows 98 First Edition.7z"
        do
        curl -X PUT \
               --upload-file "$FILE" \
               -H "x-amz-auto-make-bucket:1" \
               -H "x-archive-meta-mediatype:software" \
               -H "x-archive-meta-title: Windows 98 First Edition (winworldpc.com reupload)" \
               -H "x-archive-meta-description: Windows 98 First Edition (winworldpc.com reupload)" \
               -H "User-Agent: curl" \
               -H "authorization: LOW $ACCESS:$SECRET" \
               "https://s3.us.archive.org/win98fe-winworldpc/$(echo $FILE | sed 's/ /%20/g')"
         done
env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
